<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delete Confirm</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/minified_css/bootstrap.minV3.1.0.css" rel="stylesheet" id="bootstrap-css">
  <script src="/minified_js/bootstrap.minV3.1.0.js"></script>
  <script src="/minified_js/jquery.minV3.3.1.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>

<div th:fragment="modal_deleteTasksConfirmModal">
  <div class="modal fade" id="deleteTasksConfirmModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title text-center">
            Delete Task
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="form-group col-lg-12">
              <h3>Are you sure?</h3>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-between">
          <div class="row">
            <div class="col-xs-6 text-left">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
            <div class="col-xs-6 text-right">
              <button type="button" id="deleteContainerCapacityConfirm" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>