<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Tasks Application System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>

<body>
<div class="container">
    <h1>Tasks Application System</h1>
    <hr>
    <h2>Save Tasks</h2>

    <form action="#" th:action="@{/saveTasks}" th:object="${tasks}" method="POST">

        <div class="form-group">
            <label>Title</label>
            <input type="text" th:field="*{taskTitle}" placeholder="Title" class="form-control">
        </div>

        <div class="form-group">
            <label>Details</label>
            <input type="text" th:field="*{taskDetails}" placeholder="Details" class="form-control">
        </div>

        <div class="form-group">
            <label>Priority</label>
            <select class="form-control" th:field="*{taskPriority}" id="taskPriority">
                <option value="">Select Priority</option>
                <option th:each="taskPriority : ${T(com.epde.rt.model.tasks.enums.TaskPriority).values()}"
                th:value="${taskPriority}"
                th:text="${taskPriority}">
                    Task Priority
                </option>
            </select>

        </div>


        <div class="form-group">
            <label>Status</label>
            <select class="form-control" th:field="*{taskStatus}" id="taskStatus">
                <option value="">Select Status</option>
                <option th:each="taskStatus : ${T(com.epde.rt.model.tasks.enums.TaskStatus).values()}"
                        th:value="${taskStatus}"
                        th:text="${taskStatus}">
                    Task Status
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Tasks List</a>
</div>
</body>

</html>